.App {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
    margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
    margin-bottom: 1rem;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Add this if you have a footer component */
.Footer {
    background-color: #282c34;
    padding: 1rem;
    color: white;
    text-align: center;
}
